/*
============================================================================
MEDIA QUERIES
============================================================================
*/

@media (max-width: 1800px) {
	.header-language { 
		nav { position: relative;
			&:after { content: ""; position: absolute; right: 0; top: 50%; margin-top: -3px; width: 11px; height: 7px; background-image:url("#{$imgPath}icons/arrow-down.svg"); background-position: center; background-repeat: no-repeat; pointer-events: none; }		
		}
		.language-text { font-family: $body-font-family-regular; font-size: $body-font-size-large; color: $accent-darker-color; display: inline-block; }
		.responsiveMenuSelect { font-family: $body-font-family-medium; font-size: $body-font-size-large; color: $form-font-color; background-color: transparent; border: none; -webkit-appearance: none; -moz-appearance: none; width: auto; z-index: 1;     padding-right: 11px; }						
	}
}

/* Desktop L  ----------- */
@media all and (min-width : 1710px) {
	.language-text { display: none; }
}

/* Desktop S  ----------- */
@media all and (max-width : 1710px) and (min-width: 1041px) {
	/* HEADINGS need size */
	h1 { font-size: $h1-font-size-large; line-height: $h1-line-height-large; }
	h2 { font-size: $h2-font-size-large; line-height: $h2-line-height-large; }
	h3 { font-size: $h3-font-size-large; line-height: $h3-line-height-large; }
	.p1 { font-size: $p1-font-size-large; line-height: $p1-line-height-large; }
	.p2 { font-size: $p2-font-size-large; line-height: $p2-line-height-large; }
	.p3 { font-size: $p3-font-size-large; line-height: $p3-line-height-large; }

	.button { font-size: $button-font-size-large; }

	/*------ MAIN FRAMEWORK ------*/
    .main-framework {

		/*------ FRAMEWORK WRAPPER ------*/
        .framework-wrapper {

			/*------ HEADER WRAPPER ------*/
			.header-wrapper {
				header { height: 150px;

					.block-left,
					.block-right { height: 150px; }

					.block-left {
						/* Logo */
						.header-logo { width: 80px; padding-top: 30px; padding-bottom: 0px; vertical-align: middle; display: inline-block;
							img { margin-top: 0px; }
						}    
						/* Description-Contact */
						.header-contact { display: inline-block; padding-left: 30px; vertical-align: bottom; line-height: initial;
							span { font-size: $description-font-size-large; }
						}
					}

					.block-right { 
						/* Search form */
						.header-search-form { height: 87px; padding-top: 40px;
							.section-book-now { font-size: $body-font-size-large;
								.col-counter { 
                                    .col-item {
										&.section-book-date {
											&:last-child { padding-left: 10px; }
											input[type='text'] { font-size: $body-font-size-large; height: 30px; width: 108px; margin-right: 12px;}
											.icon-calendar { width: 30px; height: 32px; -webkit-mask-size: 30px 32px; mask-size: 30px 32px; shape-rendering: optimizeSpeed; }
										}

										&.section-guests,
										&.section-rooms { padding-left: 10px;
											.select-wrapper { position: relative; display: inline-block; width: 32px; height: 32px; margin-left: 15px;
												select { font-size: $body-font-size-large; width: 32px; height: 32px; }
											}
										}

										&.section-button { margin-left: 5px;
											.button { font-size: $body-font-size-large; padding: 0 32px; height: 32px; }
										}
									}
                                }
							}
						}
            
						/* Language menu */
						.header-language { 
							nav { display: none;
								&:after { content: ""; position: absolute; right: 0; top: 50%; margin-top: -3px; width: 11px; height: 7px; background-image:url("#{$imgPath}icons/arrow-down.svg"); background-position: center; background-repeat: no-repeat; pointer-events: none; }
							}

							.language-text { display: none; }

							.language-wrapper { position: relative; display: inline-block; 
								label { font-family: $body-font-family-regular; font-size: $body-font-size-large; color: $accent-darker-color; }
								&:after { content: ""; position: absolute; right: 0; top: 50%; margin-top: -3px; width: 11px; height: 7px; background-image:url("#{$imgPath}icons/arrow-down.svg"); background-position: center; background-repeat: no-repeat; pointer-events: none;
								}
							}
							.language-dropdown,
							.responsiveMenuSelect { font-family: $body-font-family-medium; font-size: $body-font-size-large; color: $form-font-color; background-color: transparent; border: none; -webkit-appearance: none; -moz-appearance: none; width: 50px; z-index: 1; }
							
						}
					}
				}
			}/* EOF HEADER WRAPPER */


			/*------ MAIN WRAPPER ------*/
            .main-wrapper { margin-bottom: 495px; padding-bottom: 120px;
                /* SIDEBAR WRAPPER */
				.sidebarbox-wrapper { 
					aside { 
						ul {
							li { display: inline; line-height: 20px; position: relative;
								a { font-size: $sidebar-box-font-size-large; }
								&:after { content: ""; display: block; padding-bottom: 20px; }
							}
						}
					}
				}/* EOF SIDEBAR WRAPPER */

				/* MAIN CONTENT WRAPPER */
                .main-content-wrapper {

					/* SCROLLTO CONTROL */
					.scrollto-control { 
						.scrollto-content { 
							.scrollto-text { font-size: $scrollto-font-size-large; }
							.scrollto-icon { 
								.icon-arrow { }
							}
						}
					}

					/* INNER WRAPPER */
                    .inner-wrapper {
						
						/* INTRO CONTAINER */
						.intro-container {
                            .intro-wrapper {
								.inner-container {
									.intro-heading-control { margin-bottom: 30px; }
									.intro-article { margin-bottom: 60px; padding-bottom: 60px;
										&.col-counter { -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; }
									}
								}

                                .intro-image-control { line-height: 0px;
                                    img { display: block; width: 100%; height: auto; max-height: none; object-fit: cover; }
                                }
                            }
                        }

                        /* ROOM CONTAINER */
						.room-container {
							.room-wrapper {
								.heading-control { padding: 0px 15px; margin-bottom: 50px; }
								.room-image-control {
									img { height: auto; max-height: none; }
								}
							}
						}

						/* EAT-DRINK CONTAINER */
						.eat-drink-container {
							.eat-drink-wrapper {
								.heading-control { margin-bottom: 50px; }
								.image-control {
									img { display: block; width: 100%; height: auto; max-height: none; object-fit: cover; }
								}
							}
						}

						/* INNER CONTAINER */
                        .inner-container { padding: 0px 15px;
                            .heading-control { margin-bottom: 40px; }

                            section {

								/*------ PAGE: HOME ------*/
								/** SECTION AMENTITIES **/
                                &.section-amenities { margin-bottom: 120px;
                                    .col-counter { -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; }
                                }
								/** SECTION DEAL PROMOTIONS **/
								/** SECTION INFO **/
								&.section-deal-promotions,
								&.section-info { margin-bottom: 90px;
									.col-counter { margin: 0px 0px 0px -30px;
										.col-item { -webkit-flex-basis: 50%; flex-basis: 50%; width: 50%; max-width: 50%; padding: 0px 0px 0px 30px; margin-bottom: 0px;
											&:last-child { margin-bottom: 0px; }
										}
									}
								}
								&.section-deal-promotions {
									.col-counter {
										.col-item { padding: 0px 0px 30px 30px; margin-bottom: 30px;
											&:last-child { margin-bottom: 0px; }
										}
									}
									.image-control { margin-bottom: 30px; }
									.title-control { margin-bottom: 10px; }
									.heading-control { margin-bottom: 40px; }
								}
								&.section-info { margin-bottom: 0px; }

								/*------ PAGE: ROOMS ------*/
								/** SECTION ROOMS **/
								&.section-room { margin-top: 30px; margin-bottom: 30px; padding-bottom: 30px;
									.heading-control { padding: 0px; }
									.col-counter { -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px;
										&.booking-button { padding-top: 30px;
											.block-btn { 
												button {}
											}
										}
									}
								}

								/** SECTION SISTER HOTELS **/
								&.section-sister-hotels {
									&:before { margin-bottom: 45px; margin-top: 45px; }
									
									article { margin-top: 30px;
										&.col-counter { margin: 0px 0px 0px -30px;
											.col-item { -webkit-flex-basis: 50%; flex-basis: 50%; width: 50%; max-width: 50%; padding: 0px 0px 0px 30px; margin-bottom: 40px;
												&:last-child { margin-bottom: 0px; }

												.image-control { margin-bottom: 30px;
													img { object-fit: cover; display: block; height: auto; max-height: none; }
												}

												.heading-control { margin-bottom: 10px !important;
													h3 { position: relative; font-size: $h3-font-size-large;
														&:after { content: ""; position: absolute; top: 2px; background-color: $selected-dark-color; width: 15px; height: 15px; background-image:url("#{$imgPath}icons/icon-new-window.svg"); background-position: center; background-repeat: no-repeat;
														}
													}
												}
											}
										}			
									}
								}/* EOF SECTION SISTER HOTELS */

								/*------ PAGE: PACKAGES, TODO, POOL DECK ------*/
								/** SECTION PACKAGES **/
								/** SECTION TODO **/
								/** SECTION POOL-DECK **/
								&.section-packages,
								&.section-todo,
								&.section-pool-deck { display: inline-block;
									article { border: 0; border-bottom: $hr-border-width $hr-border-style $hr-border-color; margin-bottom: 30px; padding-bottom: 30px;
										&:last-child { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }

										&.col-counter {
											
											.image-control {
												img { object-fit: cover; display: block; height: auto; max-height: none; }
											}

											.side-control { flex: 1; padding-left: 30px; position: relative;
												.heading-control {
													h2 { font-size: $h2-font-size-large; }
													h3 { font-size: $h3-font-size-large; line-height: 36px; }
												}
												.p1 { font-size: $p1-font-size-large; line-height: 27px; }
												.link-control {}

												.booking-button { position: relative; margin-top: 20px; }
											}
										}
									}
								}/* EOF SECTION PACKAGES */ /* EOF SECTION TODO */ /* EOF SECTION PACKAGES */

								/*------ PAGE: SPECIALS ------*/
								/** SECTION SPECIALS **/
								&.section-specials {
									.step-content {
										.section-special-offer { 
											.special-offer-content { padding: 25px 60px;
												.col-item { display: block;
													.booking-button { position: relative; margin-top: 30px; }
												}
											}
										}
									}
								}

								/*------ PAGE: GALLERY ------*/
								/** SECTION GALLERY LIST **/
								&.section-gallery-list {
									.col-counter { width: 100%; -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; column-gap: 60px; 
										.col-item {
											.image-control { 
												img { height: auto; max-height: none; }
											}
											.heading-control { 
												h3 { font-size: $body-font-size-large; }
											}
										}
									}

								}/* EOF GALLERY LIST */


								&.section-faq { 
									article {
										&.col-counter { 
											.block-faq { -webkit-box-flex: 1; -webkit-flex: 1;-ms-flex: 1; flex: 1;
												&.mask { width: 100%; flex: none; }
											}

											.faq-item {  
												.question { font-size: $h3-font-size-large; }
												.answer { font-size: $p2-font-size-large; }
											}
										}
									}
								}

                            }
                        }
                    }
                }
            }/* EOF MAIN WRAPPER */

			/*------ FOOTER WRAPPER ------*/
			.footer-wrapper { height: 495px;
				footer { 
					.footer-container { font-size: $footer-font-size-large; padding: 60px 75px 60px 15px;
                    
						section { 
							&.section-footer-nav { 
								.items { 
									h2 { font-size: $footer-font-size-large; }
								}
							}
						}
                
						ul {
							li {
								a { font-size: $nav-font-size-large; }
							}
						}

						form {
							input[type="text"] { font-size: $p2-font-size-large; }
							button { font-size: $p2-font-size-large; }
						}
					}	
				}
				/*------ COPYRIGHT CONTAINER ------*/
				.copyright-container { font-size: $p2-font-size-large; height: 120px; }
			}
        }
    }

}


/* Tablet Design  ----------- */
@media all and (max-width : 1040px) {
	br,
	p { margin-bottom: 20px;
		&:last-child { margin-bottom: 0px; }
	}

	/* HEADINGS */
	h1 { font-size: $h1-font-size-medium; line-height: $h1-line-height-medium; }
	h2 { font-size: $h2-font-size-medium; line-height: $h2-line-height-medium; }
	h3 { font-size: $h3-font-size-medium; line-height: $h3-line-height-medium; }
	.p1 { font-size: $p1-font-size-medium; line-height: $p1-line-height-medium; }
	.p2 { font-size: $p2-font-size-medium; line-height: $p2-line-height-medium; }
	.p3 { font-size: $p3-font-size-medium; line-height: $p3-line-height-medium; }

	.button { font-size: $button-font-size-medium; }

	/* IMAGE SLIDER */
	.flickity-page-dots { text-align: center; bottom: -20px;
		.dot { width: 30px; height: 15px; margin: 0 15px 0 0; position: relative; border-radius: $global-rounded-corners; display: inline-block; background-color: $selected-dark-color; opacity: 1;
			&.is-selected { background-color: $selected-light-color;  }
		}
	}


    /* SOCIAL MEDIA */
    .social-link-list { position: relative; right: 0px; top: 0px; bottom: 0px; top: -229px; z-index: 1; width: 100%; text-align: center; margin: 0px auto;
        .social-text-title { display: block; }
        ul { display: -webkit-box; margin: 0px auto; display: block; /* width: 100%; */ text-align: center; height: 45px; display: table;
            li { height: 45px; position: relative; display: table-cell;
		        a { display: inline-block; width: 45px; height: 45px; }	
	        }
        }
		
		
		/* THE NEW ONE*/
		.aps-social-icon-wrapper { height: 69px; display: block;
			.aps-group-vertical { width: 100% !important; display: table; text-align: center; float: none; height: 69px; }
			.aps-each-icon { display: inline-block; width: 69px; height: 69px; position: relative;
				a { display: block; position: relative; z-index: 555; width: 69px; height: 69px;
					img { width: 69px; height: 69px; }
				}
			}
		} 	
    }/* EOF SOCIAL MEDIA */

	/* NAVIGATION */
	a.menu-link { float: right; display: block; color: transparent; position: fixed; top: 15px; right: 15px;
        .text-bars { display: block; font-family: $body-font-family-bold; font-size: $header-font-size-medium; color: $body-font-color; text-transform: uppercase;
			&:before {
				content: "Menu";
				display: block;
			}
		}
		.icon { content: "";  display: inline-block; width: 45px; height: 45px; background-image:url("#{$imgPath}icons/menu-bar.svg"); background-position: center; background-repeat: no-repeat; }

		&.active {
			.text-bars {
				&:before {
					content: "Close";
					display: block;
				}
			}
			.icon { background-image:url("#{$imgPath}icons/close.svg"); background-position: center; background-repeat: no-repeat; }
		}
    }

	#menu { display: block; }
    .menu-nav nav[role=navigation] { overflow: hidden; max-height: 0; }

    nav[role=navigation] { clear: both; 
        &.active { width: 50%; padding: 0; margin: 0; position: fixed; top: 0; right: 0; bottom: 0; overflow: auto; background-color: #f7f7f7; padding-top: 30px; padding-left: 15px; padding-right: 15px; max-height: 100%; z-index: 99999; border-left: 1px solid #dedede; margin-top: 145px; }

		ul {
            li { display: inline; line-height: 20px; position: relative;
                a { font-family: $sidebar-box-font-family; font-size: $sidebar-box-font-size-medium; color: $sidebar-box-font-color; text-transform: $sidebar-box-font-transform; cursor: pointer; text-decoration: $link-text-decoration; position: relative; }
                &:after { content: ""; display: block; padding-bottom: $sidebar-link-margin-bottom; }
                &.active, &.current-menu-item, &:hover { color: $sidebar-box-active-font-color;
                    a { color: $sidebar-box-active-font-color; }
                    &:before { content: ""; border-bottom: 1px solid $selected-light-color; display: inline-block; vertical-align: middle; position: absolute; width: 100%; bottom: 0px; }
                }
            }
        }
    }/* EOF NAVIGATION */
	
	/* MAIN FRAMEWORK */
    .main-framework { height: initial;

        .framework-wrapper {

			/*------ HEADER WRAPPER ------*/
			.header-wrapper {
				header { padding: 0px; height: auto; display: block;

					.block-left,
					.block-right { height: auto; display: block; width: 100%; position: relative; padding: 0px 15px; }

					.block-left { border-bottom: $hr-border-width $hr-border-style $hr-border-color; padding-bottom: 15px;
						/* Logo */
						.header-logo { width: 80px; padding-top: 15px; padding-bottom: 0px; vertical-align: middle; display: block;
							img { margin-top: 0px; }
						}    
						/* Description-Contact */
						.header-contact { display: block; padding-left: 0px; vertical-align: bottom; line-height: initial; margin-right: 105px;
							span { font-size: $description-font-size-medium;
								&:first-child { display: none; }
								&.contact-address {
									&:before { display: none; }
								}
							} 
						}
					}

					.block-right { right: 0px; border-bottom: $hr-border-width $hr-border-style $hr-border-color;
						/* Search form */
						.header-search-form { height: auto; padding-top: 20px;
							.section-book-now { padding-left: 0px;
								.col-counter { width: 100%; height: 60px; display: block; -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px;
                                    .col-item { margin: 0; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; -o-column-break-inside: avoid; -ms-column-break-inside: avoid; column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid-column; display: inline-block; width: 100%; position: relative;
										
										&.section-book-date {
											&:last-child { padding-left: 0px; }
											input { width: calc(100% - 60px); padding: 0; margin: 0; position: absolute; bottom: 0; left: 0; clear: right; }
											.icon-calendar { text-align: right; }
										}

										&.section-guests,
										.section-rooms { text-align: right; }

										&.section-button {
											button { width: 100%; }
										}
									}
                                }
							}
						}

						/* Language menu */
						.header-language { position: absolute; top: -50px; right: 15px;
							nav { display: none; }
							.language-wrapper { position: relative; display: inline-block; 
								label { font-family: $body-font-family-regular; font-size: $body-font-size-medium; color: #7a7c7b; }
								&:after { content: ""; position: absolute; right: 0; top: 50%; margin-top: -3px; width: 11px; height: 7px; background-image:url("#{$imgPath}icons/arrow-down.svg"); background-position: center; background-repeat: no-repeat; pointer-events: none;
								}
							}
							.language-dropdown { font-family: $body-font-family-medium; font-size: $body-font-size-medium; color: $form-font-color; background-color: transparent; border: none; -webkit-appearance: none; -moz-appearance: none; width: 50px; z-index: 1; }
						}
					}
				}
			}/* EOF HEADER WRAPPER */

			/* MAIN WRAPPER */
            .main-wrapper { margin-bottom: 0px; padding-bottom: 0px;
                
                .sidebarbox-wrapper { display: none; }

                .main-content-wrapper { float: none; width: 100%; padding: 45px 0px 0 0px; margin: 0px;

                    .image-control { line-height: 0px; /* instead of img block display */
					    img { display: block; width: 100%; height: auto; max-height: none; object-fit: cover; }
				    }

					/* INNER WRAPPER */
                    .inner-wrapper { width: 100%; position: relative;

						/* INTRO CONTAINER */
						.intro-container {
                            .intro-wrapper {
								.inner-container { padding: 0 15px; margin-bottom: 45px;
									&:last-child { border-bottom: $hr-border-width $hr-border-style $hr-border-color; }
									.intro-heading-control { margin-bottom: 45px;
										&:last-child { margin-bottom: 0px; }
									}	
									.intro-article { border-bottom: none; padding-bottom: 45px; margin-bottom: 0px; margin-top: 0px;
										&.col-counter { -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; }
									}
								}
								.image-control { padding: 0 15px; margin-bottom: 30px; }
                            }

							&.home-intro {
								.intro-wrapper { position: relative; display: -webkit-box; -webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical;
									.image-control { -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; box-ordinal-group: 2; }
									.scrollto-control { -webkit-box-ordinal-group: 3; -moz-box-ordinal-group: 3; box-ordinal-group: 3; }
									
									.inner-container { -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; box-ordinal-group: 1;
										&:last-child { -webkit-box-ordinal-group: 4; -moz-box-ordinal-group: 4; box-ordinal-group: 4; }
									}
									.intro-article { -webkit-box-ordinal-group: 4; -moz-box-ordinal-group: 4; box-ordinal-group: 4; }
								}
							}
                        }

						/* ROOM CONTAINER */
						.room-container { border-bottom: $hr-border-width $hr-border-style $hr-border-color; margin-bottom: 45px;
							&:nth-last-child(2) {
								.section-room {
									&:last-child { margin-bottom: 40px; }
								}
							}

							.room-wrapper {
								.heading-control,
								.room-image-control,
								.inner-container { padding: 0px 15px; }

								.heading-control { margin-bottom: 45px; }

								.room-image-control { 
									img { display: block; width: 100%; height: auto; max-height: none; object-fit: cover; }
								}

								.inner-container {
									.booking-button {
										.button { text-align: center; }
									}
								}
							}
						}

						/* EAT-DRINK CONTAINER */
						.eat-drink-container { border-bottom: $hr-border-width $hr-border-style $hr-border-color; margin-bottom: 45px; padding-bottom: 45px;
							&:last-child { border-bottom: none; margin-bottom: 0px; padding-bottom: 45px; }
							.eat-drink-wrapper { padding: 0px 15px; border-bottom: none; 

								.eat-drink-image-control { 
									img { display: block; width: 100%; height: auto; max-height: none; object-fit: cover; }
								}

								.inner-container {
									.booking-button {
										.button { text-align: center; }
									}
								}
							}
						}

						/* INNER CONTAINER */
                        .inner-container { padding: 0px; display: table; width: 100%;

                            .heading-control { margin-bottom: 45px; }

                            section {

								&.section-default { padding: 0px 15px; }

                                &.section-amenities { position: relative; margin-bottom: 45px; padding-bottom: 45px;
                                    &:after { content: ""; border-bottom: $hr-border-width $hr-border-style $hr-border-color; position: absolute; width: 100%; bottom: 0px; }
                                    .heading-control { padding: 0px 15px; margin-bottom: 45px; }
                                    .col-counter { padding: 0px 15px; -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; }
                                }

								&.section-deal-promotions,
								&.section-info {
									.col-counter { margin: 0px 0px 0px -30px; padding: 0px 15px; overflow: hidden;
										.col-item { -webkit-flex-basis: 50%; flex-basis: 50%; width: 50%; max-width: 50%; padding: 0px 0px 0px 30px; position: relative; margin-bottom: 45px;
											&:after { content: ""; position: absolute; border-right: $hr-border-width $hr-border-style $hr-border-color; height: 100%; bottom: 0px; right: -15px; }
											&:nth-child(2) {
												&:after { border-right: none; }
											}
										}
									}
								}
                                &.section-deal-promotions { position: relative; margin-bottom: 45px; padding-bottom: 0px;
                                    &:after { content: ""; border-bottom: $hr-border-width $hr-border-style $hr-border-color; position: absolute; width: 100%; bottom: 0px; }
                                    .col-counter { padding: 0px 15px;
                                        div.col-item {
                                            .items { display: -webkit-box; -webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical;
                                                .image-control { -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; box-ordinal-group: 2; margin-bottom: 40px; }
                                                .title-control { -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; box-ordinal-group: 1; padding-bottom: 40px; margin-bottom: 0px;
													h2 { font-size: $h2-font-size-medium;
														&:before { content: ""; border-bottom: 2px solid $selected-light-color; position: absolute; width: 100%; bottom: 2px; }
													}
												}
                                                .heading-control { -webkit-box-ordinal-group: 3; -moz-box-ordinal-group: 3; box-ordinal-group: 3; margin-bottom: 30px; }
                                                .info-control { -webkit-box-ordinal-group: 4; -moz-box-ordinal-group: 4; box-ordinal-group: 4; }
                                            }
                                        }
                                    }
                                }
                                &.section-info { position: relative; padding-bottom: 0px;
                                    .heading-control { padding: 0px 15px; }
									.col-counter { margin: 0px 0px 0px -30px; padding: 0px 15px; 
										.col-item { 
											&:after { border-right: none; }
											&:nth-child(2) {
												&:after { border-right: none; }
											}
										}
                                    }
                                }

								&.section-room { border-bottom: none; margin-top: 45px; margin-bottom: 45px; padding-bottom: 0px;
									&.last { border-bottom: none; margin-bottom: 45px; }
									.heading-control { display: none; }
									.heading-control { padding: 0px; }
									.col-counter { 
										&.booking-button { padding-top: 45px;
											.block-btn { 
												button { width: 100%; }
											}
										}
									}
								}
                                &.section-sister-hotels {
                                    &:before { display: none; }
								    .title-info { padding: 0 15px; margin-bottom: 45px; text-align: left; 
									    &:before { display: none; }
									    span { }
								    }
								    article { padding: 0px 15px; margin: 0px 0px 0px -30px; padding: 0px 15px; overflow: hidden;
										&.col-counter { margin: 0px 0px 0px -30px; padding: 0px 15px; overflow: hidden;
											.col-item { -webkit-flex-basis: 50%; flex-basis: 50%; width: 50%; max-width: 50%; padding: 0px 0px 0px 30px; position: relative; margin-bottom: 45px;
												&:after { /*content: ""; position: absolute; border-right: $hr-border-width $hr-border-style $hr-border-color; height: 100%; bottom: 0px; right: -15px;*/ }
												&:nth-child(2) {
													&:after { border-right: none; }
												}

												.heading-control { margin-bottom: 0px;
													h3 { font-size: $h3-font-size-medium;
														 &:before { display: none; }
													}
												}

												.image-control { margin-bottom: 20px;
													img { object-fit: cover; display: block; height: auto; max-height: none; }
												}

												.p1 {
													&:last-child { display: none; }
												}
											}
										}
								    }
							    }

								&.section-packages,
								&.section-todo {
									article { border: 0; border-bottom: $hr-border-width $hr-border-style $hr-border-color; margin-bottom: 30px; padding: 0px 15px;
										&:last-of-type { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }

										&.col-counter { display: none; }

										&.col-hidden { display: block; padding-bottom: 45px;
											&:last-child { border-bottom: none; margin-bottom: 0px; padding-bottom: 45px; }

											.heading-control { margin-bottom: 10px;
												h2 { font-size: $h2-font-size-medium; line-height: $h2-line-height-medium; }
												h3 { font-size: $h3-font-size-medium; line-height: $h2-line-height-medium; }
											}

											.col-counter { width: 100%; -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; margin-top: 30px; margin-bottom: 0px;
												.col-item { margin: 0px; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; -o-column-break-inside: avoid; -ms-column-break-inside: avoid; column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid-column; display: inline-block; width: 100%;
													.image-control { 
														img { height: auto; max-height: none; }
													}

													.side-control { position: relative; height: 300px; max-height: 300px;
														.p1 { font-size: $p1-font-size-medium; line-height: 30px; }
														.booking-button { position: absolute; bottom: 0; left: 0; right: 0;
															button { width: 100%; text-align: center; }
														}
													}
												}
											}
										}
									}
								}


								&.section-pool-deck {
									article { border: 0; border-bottom: $hr-border-width $hr-border-style $hr-border-color; margin-bottom: 30px; padding: 0px 0px 30px 15px;
										&:last-child { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }

										&.col-counter { display: none; }

										&.col-hidden { display: block; padding-bottom: 45px;
											&:last-child,
											&:last-of-type,
											&:nth-last-child(2) { border-bottom: none; margin-bottom: 0px; padding-bottom: 45px; }

											.heading-control { margin-bottom: 10px;
												h2 { font-size: $h2-font-size-medium; }
												h3 { font-size: $h3-font-size-medium; }
											}
										}
									}
								}

								&.section-specials { padding: 0px 15px;
									.step-content {

										.step-number { font-size: $step-font-size-small; }
										.step-title { font-size: $step-font-size-small; }

										.section-special-offer {
											.special-offer-content { padding: 25px 30px;
												&:last-child { margin-bottom: 45px; }
												.col-item { display: block;
													.col-counter { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; 
														&.booking-button { padding-top: 30px;
															.block-btn { margin: 0px; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; -o-column-break-inside: avoid; -ms-column-break-inside: avoid; column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid-column; display: inline-block; width: 100%;
																button { width: 100%; text-align: center; }
															}
														}
													}
												}
											}
										}
									}
								}

								&.section-eat-drink { border-bottom: none; margin-top: 30px; margin-bottom: 0px; padding-bottom: 0px;
									&.last { border-bottom: none; margin-bottom: 0px; padding-bottom: 30px; }
									.heading-control { margin-bottom: 40px; padding: 0px; }
									.col-counter { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; 
										&.booking-button { padding-top: 60px;
											.block-btn { margin: 0px; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; -o-column-break-inside: avoid; -ms-column-break-inside: avoid; column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid-column; display: inline-block; width: 100%;
												button { width: 100%; text-align: center; }
											}
										}
									}
								}


								&.section-gallery-list { padding: 0 15px;
									.col-counter { width: 100%; -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px;  }
								}


								&.section-meetings-events,
								&.section-weedings {
									article { border: 0; border-bottom: none; margin-bottom: 30px; padding-bottom: 30px;
										&:last-child { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }

										&.col-hidden { display: none; }

										&.col-counter { margin: 0px 0px 0px -30px; padding: 0px 15px; overflow: hidden;
											.col-item { -webkit-flex-basis: 50%; flex-basis: 50%; width: 50%; max-width: 50%; padding: 0px 0px 0px 30px; position: relative; margin-bottom: 45px;
												&:after { /*content: ""; position: absolute; border-right: $hr-border-width $hr-border-style $hr-border-color; height: 100%; bottom: 0px; right: -15px;*/ }
												&:nth-child(2) {
													&:after { border-right: none; }
												}
												&:last-child { -webkit-flex-basis: 50%; flex-basis: 50%; width: 50%; max-width: 50%; padding: 0px 0px 0px 30px; position: relative; margin-bottom: 45px; }

												.items {
													.heading-control {
														h2 { font-size: $h2-font-size-medium; line-height: $h2-line-height-medium; }
														&.last { margin-bottom: 0px; }
														a { font-size: $p1-font-size-medium; margin-top: 50px; display: inline-block; text-decoration: $link-text-decoration; }
													}

													.image-control { margin-bottom: 20px;
														img { object-fit: cover; display: block; height: auto; max-height: none; }
													}
												}
											}
										}
									}

									.event-info { padding: 0px 15px; margin-top: 30px; margin-bottom: 45px; display: inline-block; width: 100%;
										a { text-decoration: $link-text-decoration; }
									}

									p, 
									h3 { display: block; margin-top: 30px; }
									h3 { font-size: $h3-font-size-medium; line-height: $h3-line-height-medium; }
									.scrollto-control { display: none; }
								}

								&.section-contact { padding: 0 15px;
									article {
										.items { position: relative; display: -webkit-box; -webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical;
											.side-control { display: block; width: 100%; -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; box-ordinal-group: 2; margin-top: 30px;
												.heading-control {
													h1 { font-size: $h1-font-size-medium; line-height: $h1-line-height-medium; }
												}
											}
									
											.map-control { display: block; width: 100%; padding-left: 0px; -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; box-ordinal-group: 1;
												img { object-fit: cover; display: block; height: auto; max-height: none; }
											}                     
										}
									}
								}

								&.section-faq { padding: 0 15px;
									article {
										&.col-counter { 
											.block-faq { -webkit-box-flex: 1; -webkit-flex: 1;-ms-flex: 1; flex: 1;
												&.mask { display: none; }
											}

											.faq-item {  margin-bottom: 30px;
												.question { font-size: $h3-font-size-medium; margin-bottom: 40px; }
												.answer { font-size: $p2-font-size-medium; margin-bottom: 40px; }
											}
										}
									}
								}

                            }
                        }
                    }
                }

            }

            .footer-wrapper { position: relative; width: 100%; z-index: 1; height: auto;
	            footer { position: relative; padding-left: 0px;
		            .footer-container { padding: 45px 15px; font-size: $footer-font-size-medium;
			            
						section { position: relative;
				            &.section-footer-nav { 
					            .col-counter { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px;
						            .col-item {
                                        &:nth-child(2n) { display: none; }
										&:last-child { padding-top: 40px; }
						            }
					            }
								.items {
									h2 { font-size: $footer-font-size-medium; }
								}

				            }
			            }

						ul {
							li { 
								a { font-size: $nav-font-size-medium; }
							}
						}

						form {
							input[type="text"] { font-size: $p2-font-size-medium; padding: 5px 15px; margin-top: 10px; }
							button { font-size: $p2-font-size-medium; margin-top: 20px; margin-top: 10px; padding-bottom: 50px; 
								&:after { content: ""; background-image:url("#{$imgPath}icons/icon-arrow-right.png"); background-repeat: no-repeat; background-position: right; width: 8px; height: 14px; display: inline-block; margin-top: 7px; padding-left: 10px; background-position: center; background-repeat: no-repeat; }
							}
						}

		            }	
	            }
				.copyright-container { height: 136px; font-size: $footer-font-size-medium; }
            }

        }

    }
}


/* Smartphone Design  ----------- */
@media all and (max-width : 630px) {
	/* HEADINGS */
	h1 { font-size: $h1-font-size-small; line-height: $h1-line-height-small; }
	h2 { font-size: $h2-font-size-small; line-height: $h2-line-height-small; }
	h3 { font-size: $h3-font-size-small; line-height: $h3-line-height-small; }
	.p1 { font-size: $p1-font-size-small; line-height: $p1-line-height-small; }
	.p2 { font-size: $p2-font-size-small; line-height: $p2-line-height-small; }
	.p3 { font-size: $p3-font-size-small; line-height: $p3-line-height-small; }

	.button { font-size: $button-font-size-small; }

	.icon-mail,
	.icon-phone {
		&:before { margin-top: 0px; }
	}

	/* NAVIGATION */
	a.menu-link {
		.icon { width: 35px !important; height: 32px !important; }
		.text-bars { font-size: $body-font-size-small !important; }
	}

	nav[role=navigation] { clear: both;
		&.active { margin-top: 165px; width: 100%; text-align: left; }
		
		&.nav-repos {
			&.active { margin-top: 97px; }
		}
	}
	/* Add Classes On Start Scroll */
	.logo-shrink { width: 48px !important; }
	.hc-out { height: 0 !important; opacity: 0 !important; }
	.lw-out { height: 0 !important; opacity: 0 !important;
	}
	/* EOF NAVIGATION */


    .main-framework { 

        .framework-wrapper {

            /*------ HEADER WRAPPER ------*/
			.header-wrapper {
				header { padding: 0px; height: auto; display: block; position: fixed; z-index: 1; background: $accent-light-color; width: 100%;

					.block-left { padding-bottom: 8px;

						.header-logo { width: 75px; @include single-transition(all 0.5s ease-in-out 0s); }

						/* Description-Contact */
						.header-contact { line-height: $header-text-line-height; margin-right: 98px; line-height: 18px; @include mix-transition(opacity 0.3s ease-out, height 0.3s ease-out); height: 39px; opacity: 1;
							span { font-family: $description-font-family; font-size: $description-font-size-small; color: $description-font-color; line-height: 18px;

								&.contact-address { display: block;
									&:after { border-right: none; }
									&:before { border-right: none; }
								}

								&.contact-phone { 
									&:after {  }
									&:before { padding-right: 0px; }
								}
							}
						}
					}

					.block-right { 
						/* Search form */
						.header-search-form { font-size: $header-font-size-small;
							.section-book-now { 
								.col-counter {
									&:last-child { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; column-gap: 60px; height: 60px; }

                                    .col-item {
										&.section-book-date {}

										&.section-guests,
										&.section-rooms { padding-left: 0px;
											span { position: absolute; left: 0; top: 8px; }
										}

										&.section-button {
											&.mask { display: none; }
										}
									}
                                }
							}
						}

						/* Language menu */
						.header-language { top: -42px;
							.language-wrapper { @include mix-transition(opacity 0.3s ease-out, height 0.3s ease-out); height: 23px; opacity: 1;
								label { font-size: $header-font-size-small !important;}
							}
						}
					}
				}
			}/* EOF HEADER WRAPPER */

            .main-wrapper { margin-bottom: 0px; padding-bottom: 0px; margin-top: 230px;

                .sidebarbox-wrapper { display: none; }

                .main-content-wrapper { float: none; width: 100%; padding: 25px 0px 0 0px; margin: 0px;
                    .inner-wrapper { width: 100%; position: relative;

						/* INTRO CONTAINER */
						.intro-container {
                            .intro-wrapper {
								.inner-container { padding: 0 15px; margin-bottom: 20px;
									&:last-child { border-bottom: $hr-border-width $hr-border-style $hr-border-color; }
									.intro-heading-control { margin-bottom: 25px;
										&:last-child { margin-bottom: 0px; }
									}	
									.intro-article { border-bottom: none; padding-bottom: 25px; margin-bottom: 0px; margin-top: 25px;
										&.col-counter { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; }
									}
								}
								.image-control { padding: 0 15px; margin-bottom: 0px; }
                            }

							&.pool-deck-intro {
								.image-control { padding-bottom: 25px; }
								.intro-article {  }
							}

							.scrollto-control { display: none; }
                        }/* EOF INTRO CONTAINER */

						/* ROOM CONTAINER */
						.room-container { margin-bottom: 25px;
							&:nth-last-child(2) {
								.section-room {
									&:last-child { margin-bottom: 0px; padding-bottom: 0px; }
								}
							}

							.room-wrapper {
								.heading-control,
								.room-image-control,
								.inner-container { }

								.heading-control { margin-bottom: 20px; }

								.room-image-control { 
									img { display: block; width: 100%; height: auto; max-height: none; object-fit: cover; }
								}

								.inner-container {
									.booking-button {
										.button { text-align: center; }
									}
								}
							}
						}

						/* EAT-DRINK CONTAINER */
						.eat-drink-container { border-bottom: $hr-border-width $hr-border-style $hr-border-color; margin-bottom: 25px; padding-bottom: 25px;
							&:last-child { border-bottom: none; margin-bottom: 0px; padding-bottom: 25px; }
							.eat-drink-wrapper { padding: 0px 15px; border-bottom: none; 

								.heading-control { margin-bottom: 25px; }
								.image-control { 
									img { height: auto; max-height: none; }
								}

								.inner-container {
									.booking-button {
										.button {}
									}
								}
							}
						}

						/* INNER CONTAINER */
                        .inner-container { padding: 0px; display: table; width: 100%;
							.heading-control { margin-bottom: 25px; }

                            section {
								
                                &.section-amenities { position: relative; margin-bottom: 25px; padding-bottom: 25px;
                                    .heading-control { padding: 0px 15px; margin-bottom: 25px; }
                                    .col-counter { padding: 0px 15px; -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; }
                                }

                                &.section-deal-promotions,
                                &.section-info { 
									.col-counter { display: block; margin: 0px; position: relative; padding: 0px 15px;
										.col-item { -webkit-flex-basis: 100%; flex-basis: 100%; width: 100%; max-width: 100%; padding: 0px; position: relative; margin-bottom: 25px; 
											&:after { display: none; }

											&:before { display: none; }

											&:nth-child(2) {
												&:after { border-right: none; }
											}


										}
									}
                                }
								&.section-deal-promotions { position: relative; margin-bottom: 0px; padding-bottom: 0px;
                                    &:after { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px;}
                                    .col-counter { padding: 0px;
                                        .col-item { padding: 0px 15px; position: relative; border-bottom: $hr-border-width $hr-border-style $hr-border-color;
                                            .items { padding-bottom: 25px;
                                                .image-control { margin-bottom: 25px; }
                                                .title-control { padding-bottom: 25px; margin-bottom: 0px;
													h2 { font-size: $h2-font-size-small;
														&:before { content: ""; border-bottom: 2px solid $selected-light-color; position: absolute; width: 100%; bottom: 2px; }
													}
												}
                                                .heading-control { margin-bottom: 30px; }
                                                .info-control {}
                                            }
                                        }
                                    }
                                }

                                &.section-info { position: relative; padding-bottom: 25px;
                                    .heading-control { margin-bottom: 25px; }
                                     .col-counter { padding: 0px 15px; 
                                        .col-item {
                                            &:last-child { margin-top: 25px; margin-bottom: 0; }
                                        }
                                    }
                                }

                                &.section-room { margin-top: 25px; margin-bottom: 0px;
                                    .heading-control { display: none; }
                                    .col-counter { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px;
                                        &.booking-button { padding-top: 0px; padding-bottom: 25px; margin-bottom: 0px;
                                            .block-btn { 
                                                button { width: 100%; }
                                            }
                                        }
                                    }
							    }
                                &.section-sister-hotels { padding: 0px;
                                    &:before { }
								    .title-info { 
									    &:before { display: none; }
									    span { }
								    }

                                    article { padding: 0px 15px; margin: 0px 0px 0px -30px; padding: 0px 15px; overflow: hidden;
										&.col-counter { margin: 0px 0px 0px -30px; padding: 0px 15px; overflow: hidden;
											.col-item { -webkit-flex-basis: 50%; flex-basis: 50%; width: 50%; max-width: 50%; padding: 0px 0px 0px 30px; position: relative; margin-bottom: 25px;
												&:after { /*content: ""; position: absolute; border-right: $hr-border-width $hr-border-style $hr-border-color; height: 100%; bottom: 0px; right: -15px;*/ }
												&:nth-child(2) {
													&:after { border-right: none; }
												}

												.heading-control { margin-bottom: 0px;
													h3 { font-size: $h3-font-size-small;
														 &:before { display: none; }
													}
												}

												.image-control { margin-bottom: 15px;
													img { object-fit: cover; display: block; height: auto; max-height: none; }
												}

												.p1 {
													&:last-child { display: none; }
												}
											}
										}
								    }
							    }

								&.section-packages {
									article { margin-bottom: 30px; padding: 0px 15px;

										&.col-counter { display: none; }

										&.col-hidden { display: block; padding-bottom: 0px;
											&:last-child,
											&:last-of-type,
											&:nth-last-child(2) { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }

											.heading-control { margin-bottom: 10px;
												h2 { font-size: $h2-font-size-small; }
												h3 { font-size: $h3-font-size-small; }
											}

											.col-counter {display: -webkit-box;
												.col-item {
													.image-control { margin-bottom: 25px;
														img { height: auto; max-height: none; }
													}
													.side-control { position: relative; height: auto; max-height: auto;
														.booking-button { position: relative; margin-top: 25px; }
													}
												}
											}
										}
									}
								}

								&.section-todo {
									article { border: 0; border-bottom: $hr-border-width $hr-border-style $hr-border-color; margin-bottom: 30px; padding-bottom: 30px;
										&:last-child { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }

										&.col-counter { display: none; }

										&.col-hidden { display: block; padding-bottom: 25px; margin-bottom: 25px;
											&:last-child,
											&:last-of-type,
											&:nth-last-child(2) { border-bottom: none; margin-bottom: 0px; padding-bottom: 25px; }

											.heading-control { margin-bottom: 10px;
												h2 { font-size: $h2-font-size-small; }
												h3 { font-size: $h3-font-size-small; }
											}

											.heading-control { margin-bottom: 10px; }

											.col-counter {display: -webkit-box;
												.col-item {
													&.mask { display: none; }
													.image-control { margin-bottom: 10px;
														img { height: auto; max-height: none; }
													}
													.side-control { position: relative; height: auto; max-height: auto; }
												}
											}
										}
									}
								}

								&.section-pool-deck {
									article { border: 0; border-bottom: $hr-border-width $hr-border-style $hr-border-color; margin-bottom: 25px; padding-bottom: 25px;
										&:last-child { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }

										&.col-counter { display: none; }

										&.col-hidden { display: block; padding-bottom: 25px;
											&:last-child,
											&:last-of-type,
											&:nth-last-child(2) { border-bottom: none; margin-bottom: 0px; padding-bottom: 25px; }

											.heading-control { margin-bottom: 10px;
												h2 { font-size: $h2-font-size-small; }
												h3 { font-size: $h3-font-size-small; }
											}

											.heading-control { margin-bottom: 10px; }

											.col-counter {display: -webkit-box;
												.col-item {
													.image-control { margin-bottom: 10px;
														img { height: auto; max-height: none; }
													}
													.side-control { position: relative; height: auto; max-height: auto; }
												}
											}
										}
									}
								}

								&.section-specials { padding: 0 15px; margin-bottom: 30px;
									.step-content {

										.step-title { font-size: $step-font-size-small; margin-bottom: 30px; display: block; }

										.section-special-offer {
											.special-offer-content { padding: 30px;
												.col-item {
													.col-counter { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; 
														&.booking-button { 
															.block-btn { 
																button { }
															}
														}
													}
												}
											}
										}
									}
								}

								&.section-eat-drink { margin-top: 25px;
									&:last-child { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }

                                    .heading-control { display: none; }
                                    .col-counter {  -webkit-column-count: 1; -moz-column-count: 1; column-count: 1;
                                        &.booking-button { padding-top: 30px;
                                            .block-btn { margin: 0; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; -o-column-break-inside: avoid; -ms-column-break-inside: avoid; column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid-column; display: inline-block; width: 100%;
                                                button { width: 100%; }
												&.mask { display: none; }
                                            }
                                        }
                                    }
							    }

								/** SECTION GALLERY LIST **/
								&.section-gallery-list {
									.col-counter { width: 100%; -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; }
								}/* EOF GALLERY LIST */
                                
								/** SECTION MEETINGS & EVENTS **/
								&.section-meetings-events {
									article {
										&:last-child { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px;
											&.col-hidden {
												&:last-child { margin-bottom: 0px; padding-bottom: 0px; }
											}
										}

										&.col-counter { display: none; }
										&.col-hidden { display: block; margin: 0px; position: relative; padding: 0px 15px; border: 0; border-bottom: $hr-border-width $hr-border-style $hr-border-color; margin-bottom: 25px;
											&:last-child,
											&:last-of-type,
											&:nth-last-child(2) { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }

											.col-item { -webkit-flex-basis: 100%; flex-basis: 100%; width: 100%; max-width: 100%; padding: 0px; position: relative; margin-bottom: 25px; 
												&:last-child { }
												&:before { display: none; }

												&:nth-child(2) {
													&:after { border-right: none; }
												}
											}
										}
									}

									.event-info { padding: 0px 15px; margin-top: 0px; margin-bottom: 25px; display: inline-block; width: 100%;
										a { text-decoration: $link-text-decoration; }
									}

									p, 
									h3 { display: block; margin-top: 25px; }
									h3 { font-size: $h3-font-size-small; line-height: $h3-line-height-small; }
									.scrollto-control { display: none; }

								}

								/** SECTION WEEDINGS **/
								&.section-weedings {
									article {
										&:last-child { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px;
											&.col-hidden {
												&:last-child { margin-bottom: 0px; padding-bottom: 0px; }
											}
										}

										&.col-counter { display: block; margin: 0px; position: relative; padding: 0px;
											.col-item { -webkit-flex-basis: 100%; flex-basis: 100%; width: 100%; max-width: 100%; padding: 0px; position: relative; margin-bottom: 25px; padding: 0px 15px; display: -webkit-box; border: 0; border-bottom: $hr-border-width $hr-border-style $hr-border-color;
												&:last-child { padding: 0px 15px; border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }
												&:after { display: none; }

												&:before { display: none; }

												&:nth-child(2) {
													&:after { border-right: none; }
												}

												.items {
													.heading-control {
														h2 { font-size: $h2-font-size-small; line-height: $h2-line-height-small; }
														&.last { margin-bottom: 0px; }
														a { font-size: $p1-font-size-small; margin-top: 50px; display: inline-block; text-decoration: $link-text-decoration; }
													}
												}
											}
										}
									}

									p, 
									h3 { display: block; margin-top: 25px; }
									h3 { font-size: $h3-font-size-small; line-height: $h3-line-height-small; }
									.scrollto-control { display: none; }
								}

								/** SECTION CONTACT **/
								&.section-contact { padding: 0 15px;
									article {
										.items { 
											.side-control {
												.heading-control { margin-bottom: 25px;
													h1 { font-size: $h1-font-size-small; line-height: $h1-line-height-small;
														&:before { border: 0; }
													}
												}
												.col-item { margin-bottom: 25px; }
											}
									
											.map-control { 
												img { object-fit: cover; display: block; height: auto; max-height: none; }
											}                     
										}
									}
									p { margin-top: 25px; }
								}


								/** SECTION FAQ **/
								&.section-faq { padding: 0 15px;
									article {
										&.col-counter { 
											.block-faq { width: 100%; flex: none; padding-right: 0px;
												&.mask { display: none; }
											}

											.faq-item {  margin-bottom: 25px;
												.question { font-size: $h3-font-size-small; margin-bottom: 25px; }
												.answer { font-size: $p2-font-size-small; margin-bottom: 25px; }
											}
										}
									}
								}

                            }
                        }
                    }
                }

            }

			.footer-wrapper {
	            footer { position: relative; padding-left: 0px;
		            .footer-container { padding: 25px 15px; font-size: $footer-font-size-small;
			            
						section { position: relative;
				            &.section-footer-nav { 
					            .col-counter { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1;
						            .col-item {
                                        &:nth-child(2n) { display: none; }
										&:last-child { padding-top: 25px; }
						            }
					            }
								.items {
									h2 { font-size: $footer-font-size-small; }
								}

				            }
			            }

						ul {
							li { 
								a { font-size: $nav-font-size-small; }
							}
						}

						form {
							input[type="text"] { font-size: $p2-font-size-small; }
							button { font-size: $p2-font-size-small; padding-bottom: 100px; }
						}

		            }	
	            }
				.copyright-container { height: 136px; font-size: $footer-font-size-medium; }
            }

        }
    }
}