/*
============================================================================
Media queries
============================================================================
*/
/* Smartphone Design  ----------- */
@media screen and (min-width : 320px) and (max-width : 630px) {
	.box-control { position: relative !important;
		.box-item { width: 100%;
            &:nth-child(n+1) {
				clear: left;
			}
		}
	}

    .main-framework { 

        .framework-wrapper {

            .header-wrapper {
                header {
                    .header-language {

                        nav { display: none; }

                        .language-wrapper { position: relative; display: flex; width: 50px;
                            &:after { content: ""; background-repeat: no-repeat; background-position: right; width: 11px; height: 7px; display: inline-block; margin-top: 0px; position: absolute; right: 0; top: 8px; margin-left: auto; margin-right: auto;

                                background-color: #7a7c7b;
                                -webkit-mask-image: url("../images/icons/icon-arrow-down.svg");
                                mask-image: url("../images/icons/icon-arrow-down.svg");
                                -webkit-mask-position: center;
                                mask-position: center;
                                -webkit-mask-repeat: no-repeat;
                                mask-repeat: no-repeat;
                                -webkit-mask-size: 11px 7px;
                                mask-size: 11px 7px;
                            }
                        }
						
                        .language-dropdown { font-family: $body-font-family-medium; font-size: $body-font-size; color: $form-font-color; background-color: transparent; border: none; -webkit-appearance: none; -moz-appearance: none; width: 50px; z-index: 1; }
                    }
                }
            }

            .main-wrapper { 

                .sidebarbox-wrapper { display: none; }

                .main-content-wrapper { float: none; width: 100%; padding: 60px 30px 0 30px; margin: 0px; }
            }
        }
    }
}

/* Tablet Design  ----------- */
@media screen and (min-width : 631px) and (max-width : 1040px) {
	/* BOX CONTROL */
	.box-control { position: relative !important;
		.box-item { float: left; display: block; margin-right: 3.57866%; width: 48.21067%; 
			&:nth-child(2n+1) {
				clear: left;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

    .main-framework { 

        .framework-wrapper {

            .header-wrapper {
                header {
                    .header-language {

                        /* NAVIGATION */
                        nav { display: none; }
                        .language-wrapper { position: relative; display: flex; width: 50px;
                            &:after { content: ""; background-repeat: no-repeat; background-position: right; width: 11px; height: 7px; display: inline-block; margin-top: 0px; position: absolute; right: 0; top: 8px; margin-left: auto; margin-right: auto;

                                background-color: #7a7c7b;
                                -webkit-mask-image: url("../images/icons/icon-arrow-down.svg");
                                mask-image: url("../images/icons/icon-arrow-down.svg");
                                -webkit-mask-position: center;
                                mask-position: center;
                                -webkit-mask-repeat: no-repeat;
                                mask-repeat: no-repeat;
                                -webkit-mask-size: 11px 7px;
                                mask-size: 11px 7px;
                            }
                        }
                        .language-dropdown { font-family: $body-font-family-medium; font-size: $body-font-size; color: $form-font-color; background-color: transparent; border: none; -webkit-appearance: none; -moz-appearance: none; width: 50px; z-index: 1; }
                    }
                }
            }

            .main-wrapper { 

                .sidebarbox-wrapper { display: none; }

                .main-content-wrapper { float: none; width: 100%; padding: 60px 30px 0 30px; margin: 0px; }
            }
        }
    }

}

/* Desktop S  ----------- */
@media screen and (min-width : 1040px) and (max-width : 1710px) {
	/* BOX CONTROL */
	.box-control { position: relative !important;
		.box-item { float: left; display: block; margin-right: 3.57866%; width: 30.94756%; 
			&:nth-child(3n+1) {
				clear: left;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}


    .main-framework { 
        .framework-wrapper {

            .header-wrapper { height: 150px;
                header {
                    .header-logo { width: 79px; height: 84px; display: inline-block;
                        img { width: 100%; height: auto; margin-top: 30px; }
                    }  
                    .header-contact { display: inline-block; padding-left: 30px; }

                    .block-right { position: absolute; right: 60px; top: 0; }


                    .header-search-form { height: 90px; text-align: right;
                        button { margin-top: 53px; }
                    }

                    .header-language {
                        nav { display: none; }
                        .language-wrapper { position: relative; display: flex; width: 50px;
                            &:after { content: ""; background-repeat: no-repeat; background-position: right; width: 11px; height: 7px; display: inline-block; margin-top: 0px; position: absolute; right: 0; top: 8px; margin-left: auto; margin-right: auto;

                                background-color: #7a7c7b;
                                -webkit-mask-image: url("../images/icons/icon-arrow-down.svg");
                                mask-image: url("../images/icons/icon-arrow-down.svg");
                                -webkit-mask-position: center;
                                mask-position: center;
                                -webkit-mask-repeat: no-repeat;
                                mask-repeat: no-repeat;
                                -webkit-mask-size: 11px 7px;
                                mask-size: 11px 7px;
                            }
                        }
                        .language-dropdown { font-family: $body-font-family-medium; font-size: $body-font-size; color: $form-font-color; background-color: transparent; border: none; -webkit-appearance: none; -moz-appearance: none; width: 50px; z-index: 1; }
                    }
                }
            }

        }
    }

}

/* Desktop L  ----------- */
@media screen and (min-width : 1710px) {
	/* BOX CONTROL */
	.box-control { position: relative !important;
		.box-item { float: left; display: block; margin-right: 3.57866%; width: 22.316%; 
			&:nth-child(4n+1) {
				clear: left;
			}
			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}
}