/*
============================================================================
PAGINATION
============================================================================
*/

.pagination-control { position: relative; text-align: center; 
    ul { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; line-height: 180px;
        li { display: inline-block;
             a { margin: 0 10px; font-size: $p2-font-size-xlarge; text-decoration: $link-text-decoration;
                 &.active { font-family: $body-font-family-medium; }
             }
        }
    }
}
