/*
============================================================================
SLICK SLIDER
============================================================================
*/

.slick-slider {
    .slick-dots { display: block; width: 100%; padding: 0; list-style: none; text-align: right;

        li { position: relative; display: inline-block; width: 6px; height: 6px; margin: 0 3px 0 0;  padding: 0; cursor: pointer; line-height: 0px;
            &:last-child { margin-right: 6px; }

            button { font-size: 0; line-height: 0; display: block; padding: 0px; cursor: pointer; border: 0; outline: none; width: 6px; height: 6px; position: relative; border-radius: $global-rounded-corners; display: inline-block; background-color: $selected-dark-color;
                &:hover,
                &:focus { outline: none; }
                &:before { content: ''; width: 6px; height: 6px; margin: 0 3px 0 0; position: relative; border-radius: $global-rounded-corners; display: inline-block; background-color: $selected-dark-color; }
            }

            &.slick-active {
                button {
                    &:before { background-color: $selected-light-color; }
                }
            }
        }
    }
}