/*
============================================================================
Name: App for Empire Hotel
Description: Main css
Version: 1.0
============================================================================
*/

/* reset style */
@import "compass/reset";

/* ------------------------------- DEFAULT CONFIG ------------------------------- */
@import "config_default";

/* import fonts partial sass*/
@import "fonts";


/* image path */
$imgPath: "../images/";


/* ------------------------------------ CUSTOM ---------------------------------- */
* { outline: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body { height:100%; }
body { font: $body-font-size $body-font-family; background-color: $body-background-color; }

a { font-family: $body-font-family; color: $selected-light-color; }
br { content: ""; display: block; margin-bottom: 35px; }
hr { border: 0; border-top: $hr-border-width $hr-border-style $hr-border-color; margin: 90px 0;
    &.top { border-color: $selected-light-color; width: 60%; margin-left: auto; margin-right: auto; margin-bottom: 60px; }
    &.hr-30 { margin: 30px 0;  }
}

.button { display: block; background-color: $button-background-color; color: $button-text-color; text-transform: $button-font-transform; border: $button-border; font-size: $button-font-size; font-weight: $button-font-weight; text-align: $button-text-align; padding: 0 40px; height: 36px; cursor: pointer; }

.left, .block-left, .col-left			{ float: left; tect-align: left; }
.right, .block-right, .col-left			{ float: right; text-align: right; }
.center, .block-center, .col-center		{ float: none; text-align: center; margin: 0 auto; }
.clr									{ clear: both; }
.col-hidden								{ display: none; }

img { width: 100%; }

/* HEADING */
h1 { font-family: $h1-font-family; font-size: $h1-font-size; font-weight: $h1-font-weight; color: $h1-font-color; text-transform: $h1-font-transform; display: inline; position: relative; line-height: $h1-line-height;
    &:before { content: ""; border-bottom: 2px solid $selected-light-color; position: absolute; width: 100%; bottom: 2px; }
}
h2 { font-family: $h2-font-family; font-size: $h2-font-size; font-weight: $h2-font-weight; color: $h2-font-color; text-transform: $h2-font-transform; display: inline; position: relative; line-height: $h2-line-height;
    span { font-family: $body-font-family-medium; color: $selected-light-color; }
}
h3 { font-family: $h3-font-family; font-size: $h3-font-size; font-weight: $h3-font-weight; color: $h3-font-color; text-transform: $h3-font-transform; display: inline; position: relative; line-height: $h3-line-height; }

.p1 { font-size: $p1-font-size; color: $body-font-color; line-height: $p1-line-height; }
.p2 { font-size: $p2-font-size; color: $body-font-color; line-height: $p2-line-height;
	span { font-family: $body-font-family-medium; color: $selected-light-color; }
}
.p3 { font-size: $p3-font-size; color: $body-font-color; line-height: $p3-line-height; }


/* ICONS */
.icon-phone {
    &:before { content: ""; background-image: url("../images/icons/icon-phone.png"); }
}
.icon-mail {
    &:before { content: ""; background-image: url("../images/icons/icon-mail.png"); }
}
.icon-mail,
.icon-phone {
    &:before { background-repeat: no-repeat; background-position: center; width: 21px; height: 21px; display: inline-block; text-align: center; vertical-align: top; margin-top: 4px; margin-right: 6px; }
}

/* FORM */
label { font-family: $body-font-family-medium; }

select { text-align: center; text-align-last: center; }
	
.strong { font-family: $body-font-family-medium; }

/* --------------------------------- SCROLLBAR  --------------------------------- */
::-webkit-scrollbar { width: 7px; height: 10px; margin-left: 2px; background-clip: padding-box; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {  }
::-webkit-scrollbar-track-piece { background-color: $accent-dark-color; }
::-webkit-scrollbar-thumb:vertical { height: 50px; background-color: $accent-darker-color; width: 7px; border-top: 2px solid $hr-border-color; border-bottom: 2px solid $hr-border-color; border-right: 1px solid $hr-border-color; border-left: 1px solid $hr-border-color; }
::-webkit-scrollbar-thumb:horizontal { height: 50px; background-color: $accent-darker-color; width: 7px; border-top: 2px solid $hr-border-color; border-bottom: 2px solid $hr-border-color; border-right: 1px solid $hr-border-color; border-left: 1px solid $hr-border-color; }

.modal-no-scroll { overflow: hidden !important; }

/* import search form partial sass*/
@import "form";

/* import navigation partial sass*/
@import "navigation";

/* ---------------------------------- FRAMEWORK --------------------------------- */

/*------ MAIN FRAMEWORK ------*/
.main-framework { width: $framework-maxwidth; height: 100%; margin: 0px auto; position: relative; 

    /*------ FRAMEWORK WRAPPER ------*/
    .framework-wrapper { background-color: $framework-full-background; margin-left: $framework-margin-left; margin-right: $framework-margin-right; height: 100%; width: 100%;

        /*------ HEADER WRAPPER ------*/
        .header-wrapper { position: relative; border-bottom: $hr-border-width $hr-border-style $hr-border-color;
            header { padding: 0px $header-large-padding; height: $header-large-height;
				
				.block-left,
				.block-right { height: $header-large-height; }

				.block-left {
					/* Logo */
					.header-logo { width: 100px; padding-top: 35px; padding-bottom: 10px; display: table-cell; vertical-align: bottom;
						img { width: 100%; height: auto; }
					}    
					/* Description-Contact */
					.header-contact { line-height: $header-text-line-height; 
						span { font-family: $description-font-family; font-size: $description-font-size; color: $description-font-color;
							&:first-child { padding-left: 0px;
								&:before { padding-right: 0px; }
							}
							&:last-child {
								&:after { border-right: none; }
								&:before { border-right: none; }
							}
							&:after { content: ""; border-right: 1px solid $accent-darker-color; padding-left: 10px; height: 17px; display: inline-block; vertical-align: middle; }
							&:before { content: ""; padding-right: 5px; }
						}
					}
				}

				.block-right { position: absolute; right: $header-large-padding;
					/* Search form */
					.header-search-form { height: $header-search-form-height; padding-top: $header-search-form-margin-top; }
            
					/* Language menu */
					.header-language { line-height: $header-text-line-height; padding-top: 10px;
						nav { display: block; font-size: $body-font-size; 
							ul {
								li { display: inline-block; padding: 0px 6px; 
									span, a { font-family: $body-font-family-regular; color: $body-font-color; }
									a { cursor: pointer; }
									&.active, &:hover { color: $selected-light-color;
										a { color: $selected-light-color; }
									}
								}
							}
						}
                    
						.language-wrapper { display: none; }
					}
				}
            }
        }/* EOF HEADER WRAPPER */

        /* MAIN WRAPPER */
        .main-wrapper { width: 100%; padding: 0px; margin: 0px; position: relative; display: table; width: 100%; background-color: $framework-full-background; margin-bottom: $main-wrapper-margin-botttom; padding-bottom: $main-wrapper-padding-bottom; border-bottom: $hr-border-width $hr-border-style $accent-lighter-color;
            /* SIDEBAR WRAPPER */
            .sidebarbox-wrapper { width: $sidebar-box-width; float: left; padding: $sidebar-padding-top $sidebar-padding-right $sidebar-padding-bottom $sidebar-padding-left;
                aside { display: block;
                    ul {
                        li { display: inline; line-height: 20px; position: relative;
                            a { font-family: $sidebar-box-font-family; font-size: $sidebar-box-font-size; color: $sidebar-box-font-color; text-transform: $sidebar-box-font-transform; cursor: pointer; text-decoration: $link-text-decoration; position: relative; }
                            &:after { content: ""; display: block; padding-bottom: $sidebar-link-margin-bottom; }
                            &.active, &.current-menu-item, &:hover { color: $sidebar-box-active-font-color;
                                a { color: $sidebar-box-active-font-color; }
                                &:before { content: ""; border-bottom: 1px solid $selected-light-color; display: inline-block; vertical-align: middle; position: absolute; width: 100%; bottom: 0px; }
                            }
                        }
                    }
                }
            }/* EOF SIDEBAR WRAPPER */

            /* MAIN CONTENT WRAPPER */
            .main-content-wrapper { float: right; width: calc(100% - #{$sidebar-box-width}); padding-top: $main-content-wrapper-padding; padding-right: $main-content-wrapper-padding; padding-left: 0px; padding-bottom: 0px; margin: 0px;

				/* PRODUCT CONTROL */
				.product-control { }

                /* IMAGE CONTROL */
				.image-control { line-height: 0px; /* instead of img block display */
					img { display: block; width: 100%; max-height: 990px; object-fit: cover; }
				}

                /* SCROLLTO CONTROL */
				.scrollto-control { height: $scrollto-height; display: table; width: 100%; text-align: center;
                    .scrollto-content { display: table-cell; vertical-align: middle;
                        .scrollto-text { font-family: $body-font-family-regular; font-size: $scrollto-font-size; text-transform: $font-transform-uppercase; color: $selected-light-color; display: block; }
                        .scrollto-icon { display: inline-block; width: 38px; height: 38px; border-radius: 50px; border: 1px solid $selected-light-color;
							.icon-arrow { content: ""; display: inline-block; position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto;
								background-color: $selected-light-color; 
								width: 38px; 
								height: 38px;			
								-webkit-mask-image: url("http://empire.hotelsny.com/wp-content/themes/nychotels/assets/images/icons/arrow-down-big.svg");
								mask-image: url("http://empire.hotelsny.com/wp-content/themes/nychotels/assets/images/icons/arrow-down-big.svg");
								-webkit-mask-position: center;
								mask-position: center;
								-webkit-mask-repeat: no-repeat;
								mask-repeat: no-repeat;
								-webkit-mask-size: 14px 20px;
								mask-size: 14px 20px;
							}
						}
                    }
				}
               
                /* EAT-DRINK CONTROL */
                .eat-drink-control { border: 0; margin-bottom: 90px; padding-bottom: 90px;
                    &:last-child { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }

                    .eat-drink-wrapper {
                        .eat-drink-container { position: relative;
                            &:before { content: ""; border-bottom: 1px solid $selected-light-color; position: absolute; width: 100%; bottom: 2px; }
                        }
                    }

                }

                /* INNER WRAPPER */
                .inner-wrapper { width: 100%; position: relative;

                    /* WELCOME CONTAINER */
                    .welcome-container { margin-bottom: 180px;
                        .welcome-wrapper {
                            .welcome-image-control { line-height: 0px;
                                img { display: block; width: 100%; max-height: 990px; object-fit: cover; }
                            }
                            .welcome-heading-control { margin-bottom: 50px; padding: 0px 30px; }
                            .welcome-article { padding: 0px 30px 0 30px;
                                &.col-counter {  -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; column-gap: 60px; }
                            }
                        }
                    }

                    /* ROOM CONTAINER */
                    .room-container {
                        .room-wrapper {
                            .heading-control { padding: 0px 30px; margin-bottom: 50px; }
                            .room-image-control {
								img { display: block; width: 100%; max-height: 680px; object-fit: cover; }
							}
                        }
                    }

                    /* INNER CONTAINER */
                    .inner-container { padding: 0px 30px; display: table; width: 100%;

                        .heading-control { margin-bottom: 50px; }

                        section { 
							
							&.section-default {
								.col-counter { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; column-gap: 60px; }

								.booking-button { float: right; margin-top: 60px; }
							}

							/*------ PAGE: HOME ------*/
                            /** SECTION AMENTITIES **/
                            &.section-amenities { margin-bottom: 180px;
                                .col-counter { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; column-gap: 60px; }
                            }
                            /** SECTION DEAL PROMOTIONS **/
                            /** SECTION INFO **/
                            &.section-deal-promotions { margin-bottom: 180px; }
                            &.section-deal-promotions,
                            &.section-info {
                                .col-counter { /*display: table;*/ width: 100%; -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; column-gap: 60px;
                                    .col-item { margin: 0px; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; -o-column-break-inside: avoid; -ms-column-break-inside: avoid; column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid-column; display: block; width: 100%; word-break: break-word; }
                                }
                            }
							&.section-deal-promotions {
								.image-control { margin-bottom: 60px;
                                    img { height: 100%; object-fit: cover; display: block; }
								}
							}
							&.section-deal-promotions,
							&.section-info {
								a { text-decoration: $link-text-decoration; position: relative;
									&:before { content: ""; border-bottom: 1px solid $selected-light-color; position: absolute; width: 100%; bottom: 2px; }
								}
							}

							/*------ PAGE: ROOMS ------*/
							/** SECTION ROOMS **/
							&.section-rooms { border-bottom: $hr-border-width $hr-border-style $hr-border-color; margin-top: 60px; margin-bottom: 60px; padding-bottom: 60px;
								&.last { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }
								.heading-control { padding: 0px; }
                                .col-counter { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; column-gap: 60px;
									&.booking-button { padding-top: 90px;
										.block-btn { margin: 0px; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; -o-column-break-inside: avoid; -ms-column-break-inside: avoid; column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid-column; display: inline-block; width: 100%;
											button { }
										}
									}
								}
							}
							/** SECTION SISTER HOTELS **/
							&.section-sister-hotels { 
                                &:before { content: ""; display: block; border-top: $hr-border-width $hr-border-style $selected-light-color; width: 60%; margin-left: auto; margin-right: auto; margin-bottom: 60px; margin-top: 90px; }
								.title-info { display: block;
									&:before { display: none; }
									span { font-family: $body-font-family; }
								}

                                .col-counter { width: 100%; -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; column-gap: 60px;
                                    .col-item { margin: 0px; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; -o-column-break-inside: avoid; -ms-column-break-inside: avoid; column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid-column; display: inline-block; width: 100%; }
                                }

								h3 { font-family: $body-font-family-regular; font-size: $h2-font-size; font-weight: $h2-font-weight; color: $h2-font-color; text-transform: $font-transform-capitalize; display: inline; position: relative;
									&:before { content: ""; border-bottom: 1px solid $selected-light-color; display: inline-block; vertical-align: middle; position: absolute; width: 100%; bottom: 2px; }
								}
                    
								a { text-decoration: $link-text-decoration; }

								article { margin-top: 35px;
									.heading-control { margin-bottom: 10px !important; }

									.image-control { margin-bottom: 35px;
										img { height: 100%; object-fit: cover;  display: block; }
									}
								}
							}

							/*------ PAGE: PACKAGES ------*/
							/** SECTION PACKAGES **/
							&.section-packages { display: inline-block;
								article { border: 0; border-bottom: $hr-border-width $hr-border-style $hr-border-color; margin-bottom: 90px; padding-bottom: 90px;
                                    &:last-child
									&:last-of-type,
									&:nth-last-child(2) { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }

									&.col-hidden { display: none;
										&:last-child
										&:last-of-type,
										&:nth-last-child(2) { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }
									}

									&.col-counter { width: 100%; columns: 2; column-count: 2; column-gap: 60px; display: flex;

										.image-control,
										.side-control { margin: 0; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; -o-column-break-inside: avoid; -ms-column-break-inside: avoid; column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid-column; display: inline-block; width: 100%; }

										.image-control { height: initial; width: 640px;
											img { object-fit: cover; display: block; height: 400px; max-height: 400px; width: 640px; }
										}

										.side-control { flex: auto; position: relative; padding-left: 60px;
											.heading-control { margin-bottom: 40px;
												&:first-child { margin-bottom: 0px; }
											}
											.booking-button { position: absolute; right: 0; bottom: 0; }
										}                           
									}
								}
							}

							/*------ PAGE: SPECIALS ------*/
							/** SECTION SPECIALS **/
							&.section-specials {
								.step-content { 
									.step-number { font-family: $body-font-family-medium; font-size: $step-font-size; background-color: $step-number-background-color; color: $step-number-font-color; border-radius: $step-number-border-radius; display: inline-block; line-height: 46px; height: 46px; width: 46px; text-align: center; margin-bottom: 50px; }
									.step-title { font-family: $body-font-family-medium; font-size: $step-font-size; color: $selected-dark-color; padding-left: 20px; }
								}
							}
							/** SECTION BOOK NOW **/
							.section-book-now { padding-left: 70px; font-family: $body-font-family-medium; font-size: $body-font-size; color: $form-font-color; 
								img { width: auto; vertical-align: bottom; }

								.section-book-date { display: inline-block;
									&:nth-child(2) { padding-left: 25px; }
								}

								input[type='text'] { font-family: $body-font-family-medium; font-size: $body-font-size; color: $form-font-color; background-color: $form-background-color; border: $form-border-width $hr-border-style $form-border; height: 36px; width: 180px; margin-right: 12px;
									&::-webkit-input-placeholder { color: $form-font-color; text-transform: $form-text-transform; }
								}

								.section-guests,
								.section-rooms { position: relative; display: inline-block; padding-left: 26px; color: $form-font-color; text-transform: $form-text-transform;
									.select-wrapper { position: relative; display: inline-block; width: 36px; height: 36px; margin-left: 15px;
										&:after { content: ""; background-image: url("../images/icons/icon-arrow-down.png"); background-repeat: no-repeat; background-position: right; width: 7px; height: 3px; display: inline-block; margin-top: -7px; position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto;
										}
									}
								}

								select { font-family: $body-font-family-medium; font-size: $body-font-size; color: $form-font-color; background-color: $form-background-color; border: $form-border-width $hr-border-style $form-border; width: 36px; height: 36px; -webkit-appearance: none; -moz-appearance: none; }
							}
							/** SECTION SPECIAL OFFERS **/
							.section-special-offers {
								.special-offer-content { background-color: $accent-dark-color; padding: 30px 30px 30px 70px; display: table; width: 100%; margin-bottom: 30px;
									&:last-child { margin-bottom: 0px; }
									.col-item { display: table-cell;
										&:last-child { vertical-align: bottom; text-align: right; }
									}
								}
							}
							
							/*------ PAGE: THINGS TO DO ------*/
							/** SECTION TODO **/
							&.section-todo { margin-bottom: 0; display: block;
								.alm-reveal {
									&:last-child {
										article {
											&:last-child { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }
										}
									}
								}
								article { border: 0; border-bottom: $hr-border-width $hr-border-style $hr-border-color; margin-bottom: 90px; padding-bottom: 90px;
                                    &:last-child {  }
									.items { display: -webkit-box; width: 100%; 
										.image-control { width: 640px; height: 430px; display: table-cell;
											img { height: 100%; object-fit: cover; display: block; }
										}

										.side-control { vertical-align: top; display: table-cell; padding-left: 60px;
											.heading-control { margin-bottom: 40px !important; }
											.link-control { float: right; margin-top: 50px;
												a { text-decoration: $link-text-decoration; }
											}
										}                           
									}
								}
							}

							/*------ PAGE: EAT & DRINK ------*/
							/** SECTION EAT **/
							&.section-eat { margin-top: 60px; }

							/*------ PAGE: GALLERY ------*/
							/** SECTION GALLERY LIST **/
							&.section-gallery-list {
								img { max-height: 310px; }
								h3 { font-size: $body-font-size; color: $body-font-color; margin-bottom: 30px; margin-top: 15px; display: block; line-height: inherit; }
							}
					
							/*------ PAGE: POOL DECK ------*/
							/** SECTION POOL DECK **/
							&.section-pool-deck { margin-bottom: 0; display: block; margin-top: 180px;
								article {
									.items { display: -webkit-box; width: 100%; 
										.image-control { width: 640px; height: 430px; display: table-cell;
											img { height: 100%; object-fit: cover; display: block; }
										}

										.side-control { vertical-align: top; display: table-cell; padding-left: 60px;
											.heading-control { margin-bottom: 40px !important; }
											a { text-decoration: $link-text-decoration; position: relative; }
										}                           
									}
								}
							}

							/*------ PAGE: MEETING & EVENTS ------*/
							/** SECTION MEETINGS & EVENTS **/
							&.section-events { /*display: table;*/ width: 100%;
                                .col-counter { width: 100%; -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; column-gap: 60px;
                                    .col-item { margin: 0; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; -o-column-break-inside: avoid; -ms-column-break-inside: avoid; column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid-column; display: inline-block; }
                                }

								.heading-control {
									&.last { margin-bottom: 0px; }
									a { font-size: 27px; margin-top: 50px; display: inline-block; text-decoration: $link-text-decoration; }
								}

								.image-control { line-height: 0px; margin-bottom: 5px;
                                    img { height: 100%; object-fit: cover; display: block; }
									figure { position: relative;
										img { width: auto; margin: 0 auto; }
									}
								}
								.event-info { margin-top: 180px; display: inline-block; width: 100%;
									a { text-decoration: $link-text-decoration; }
								}
							}

							/*------ PAGE: WEEDINGS & CELEBRATIONS ------*/
							/** SECTION WEEDINGS **/
							&.section-weedings { display: table; width: 100%;
								.heading-control { margin-bottom: 50px;
									&.last { margin-bottom: 40px; }
								}

								.image-control { line-height: 0px; margin-bottom: 5px;
                                    img { height: 100%; object-fit: cover; display: block; }
									figure { position: relative;
										img { width: auto; margin: 0 auto; }
									}
								}
								p { margin-top: 30px; }
								a { text-decoration: $link-text-decoration; }
							}

							/** GALLERY SLIDER CONTROL **/
							.gallery-slider-control { position: relative; }

							/*------ PAGE: CONTACT ------*/
							/** SECTION CONTACT **/
							&.section-contact { display: table; width: 100%;
								article {
									.items { display: -webkit-box; width: 100%; 
										.image-control { display: table-cell;
											img { height: auto; object-fit: cover; display: block; }
										}

										.side-control { width: 640px; vertical-align: top; display: table-cell; padding-right: 60px;
											.heading-control { margin-bottom: 40px !important; }
											.booking-button { float: right; margin-top: 60px; }
										}                           
									}
								}

								.col-item { margin-bottom: 35px; }
								.heading-control { margin-bottom: 50px;
									&.last { margin-bottom: 40px; }
								}

								.image-control { line-height: 0px; margin-bottom: 5px;
                                    img { height: 100%; object-fit: cover; display: block; }
									figure { position: relative;
										img { width: auto; margin: 0 auto; }
									}
								}
								p { margin-top: 30px; }
								a { text-decoration: $link-text-decoration; }
							}

                            /*------ PAGE: FAQ ------*/
							/** SECTION FAQ **/
							&.section-faq { display: table; width: 100%;
								article {
									.items { display: -webkit-box; width: 100%; 
									
										.side-control { max-width: 840px; vertical-align: top; display: table-cell; padding-right: 60px;
											.heading-control { margin-bottom: 40px !important; }
											.booking-button { float: right; margin-top: 60px; }

                                            .faq-item {  margin-bottom: $faq-margin-bottom;
                                                .question { font-size: $faq-question-font-size; margin-bottom: $faq-margin-bottom; display: block; }
                                                .answer { font-size: $faq-answer-font-size; color: $body-font-color; margin-bottom: $faq-margin-bottom; display: block;
                                                    .additional-info { margin-top:$faq-margin-bottom; margin-bottom: $faq-margin-bottom; display: block; font-family: $body-font-family-medium; }
                                                }
                                            }
										}                           
									}
								}

								a { text-decoration: $link-text-decoration; }
							}
                        }
                    }
                }
            }
        }/* EOF MAIN WRAPPER */
        
        /*------ FOOTER WRAPPER ------*/
        .footer-wrapper { position: fixed; bottom: 0; left: 0; width: 100%; z-index: -9999; height: 615px;
            footer { position: relative; border-bottom: $hr-border-width $hr-border-style $hr-border-color; background-color: $footer-background-color; padding-left: $sidebar-box-width;
                .footer-container { padding: 60px 90px 60px 30px; font-size: $footer-font-size;
                    
                    section { position: relative;
                        &.section-footer-nav { 
                            .col-counter { width: 100%; -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; column-gap: 60px;
                                .col-item { margin: 0; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; -o-column-break-inside: avoid; -ms-column-break-inside: avoid; column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid-column; display: inline-block; width: 100%; }
                            }
                            
                            .items { color: $body-font-color;
                                h2 { font-family: $body-font-family-regular; font-size: $footer-font-size; color: $selected-light-color; line-height: inherit; }
                            }
                        }
                    }
                
                    ul {
                        li { display: block; 
                            a { font-family: $nav-font-family; font-size: $nav-font-size; color: $nav-font-color; text-transform: $nav-font-transform; cursor: pointer; text-decoration: none; position: relative;
                                &.active, &:hover { color: $nav-active-font-color; 
                                    &:before { content: ""; border-bottom: 1px solid $selected-light-color; display: inline-block; vertical-align: middle; position: absolute; width: 100%; bottom: 2px; }
                                }
                            }
                        }
                    }

                    form {
                        input[type="text"] { font-family: $body-font-family; font-size: 20px; border: $hr-border-width $hr-border-style $accent-lighter-color; color: $body-font-color; padding: 10px 25px; margin-top: 20px; width: 100%;
                            &::-webkit-input-placeholder { color: $form-placeholder-color; text-transform: $form-text-transform; }
                        }
                        button { font-family: $body-font-family; font-size: 20px; background-color: $button-light-background-color; border: $button-light-outer-border; color: $button-light-text-color; text-transform: $button-light-font-transform; margin-top: 20px; cursor: pointer;
                            &:after { content: ""; background-image: url("../images/icons/icon-arrow-right.png"); background-repeat: no-repeat; background-position: right; width: 8px; height: 14px; display: inline-block; margin-top: 7px; padding-left: 10px; }
                        }
                    }
                }	
            }
			/*------ COPYRIGHT CONTAINER ------*/
			.copyright-container { position: relative; width: 100%; height: 180px; background-color: $accent-light-color; font-size: 20px; color: $body-font-color; display: table;
				p { display: table-cell; vertical-align: middle; text-align: center; }
			}
        }

    }
}

/* import slick slider control partial sass*/
@import "slick-slider";

/* import pagination control partial sass*/
@import "pagination";

/* import social links partial sass*/
@import "social";

/* import media queries partial sass*/
@import "media";