/*
============================================================================
Name: App for Empire Hotel
Description: Main css
Version: 1.0
============================================================================
*/
/* reset style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* import fonts partial sass*/
@font-face {
  font-family: "Brandon_reg";
  src: url('/fonts/Brandon_reg.eot?1467147418');
  src: url('/fonts/Brandon_reg.eot?&1467147418#iefix') format('embedded-opentype'), url('/fonts/Brandon_reg.woff?1467147418') format('woff'), url('/fonts/Brandon_reg.ttf?1467147418') format('truetype');
  font-weight: "Brandon_reg.svg#Brandon_reg";
  font-style: svg;
}
@font-face {
  font-family: "Brandon_bld";
  src: url('/fonts/Brandon_bld.eot?1467117274');
  src: url('/fonts/Brandon_bld.eot?&1467117274#iefix') format('embedded-opentype'), url('/fonts/Brandon_bld.woff?1467117304') format('woff'), url('/fonts/Brandon_bld.ttf?1467117292') format('truetype');
  font-weight: "Brandon_bld.svg#Brandon_bld";
  font-style: svg;
}
/* image path */
/* color variables used throughout the application */
/* default font-families */
/* default font-sizes */
/*
============================================================================
Global (body, heading)
============================================================================
*/
* {
  outline: none !important;
}

body {
  font: 13px "Brandon_reg";
  font-weight: normal;
  line-height: 1.2;
}

body {
  background-color: #fff;
  color: #000;
}

/*
============================================================================
Media queries
============================================================================
*/
/* Smartphone Design  ----------- */
/* Tablet Design  ----------- */
/* Desktop S  ----------- */
