/*
============================================================================
Name: App for Empire Hotel
Description: Main css
Version: 1.0
============================================================================
*/
/* reset style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* import config sass*/
/* ------------------------------------------------------------------------------ */
/* ------------------------------- DEFAULT CONFIG ------------------------------- */
/* ------------------------------------------------------------------------------ */
/* ------------------------------- DEFAULT CONFIG ------------------------------- */
/* ---------------------------------- FRAMEWORK --------------------------------- */
/*1710px*/
/* ------------------------------ FONTS / HEADLINE ------------------------------ */
/* ----------------------------- SPECIAL FONT COLORS ---------------------------- */
/* -------------------------------- OTHER COLORS -------------------------------- */
/* ------------------------------- APP NAVIGATION ------------------------------- */
/* ---------------------------- GLOBAL ROUNDED CORNERS --------------------------- */
/* --------------------------------- BASE BUTTON -------------------------------- */
/* ------------------------ TEXT INPUT, SELECT, TEXTAREA ------------------------ */
/* --------------------------------- SIDEBAR BOX -------------------------------- */
/* -------------------------------- DEVICE SIZES -------------------------------- */
/*large*/
/*small*/
/* -------------------------------- SMALL DEVICE -------------------------------- */
/*h1 font size*/
/*h2 font size*/
/*h3 font size*/
/* import fonts partial sass*/
@font-face {
  font-family: "Brandon_reg";
  src: url('/fonts/Brandon_reg.eot?1467186378');
  src: url('/fonts/Brandon_reg.eot?&1467186378#iefix') format('embedded-opentype'), url('/fonts/Brandon_reg.woff?1467186378') format('woff'), url('/fonts/Brandon_reg.ttf?1467186378') format('truetype');
  font-weight: "Brandon_reg.svg#Brandon_reg";
  font-style: svg;
}
@font-face {
  font-family: "Brandon_bld";
  src: url('/fonts/Brandon_bld.eot?1467186378');
  src: url('/fonts/Brandon_bld.eot?&1467186378#iefix') format('embedded-opentype'), url('/fonts/Brandon_bld.woff?1467186378') format('woff'), url('/fonts/Brandon_bld.ttf?1467186378') format('truetype');
  font-weight: "Brandon_bld.svg#Brandon_bld";
  font-style: svg;
}
/* image path */
/* ------------------------------------ CUSTOM ---------------------------------- */
* {
  outline: none !important;
}

html, body {
  height: 100%;
}

body {
  font: 16px Brandon_reg, Arial;
  background-color: #fff;
}

.button {
  display: block;
  background-color: #cd700b;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 0 40px;
  height: 36px;
  cursor: pointer;
}

.left, .block-left, .col-left {
  float: left;
}

.right, .block-right, .col-left {
  float: right;
}

/* ------------------------------------------------------------------------------ */
/* --------------------------------- FRAMEWORK ---------------------------------- */
/* ------------------------------------------------------------------------------ */
/* ---------------------------------- FRAMEWORK --------------------------------- */
/*------ MAIN ------*/
.block-main {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: relative;
  /*------ WRAPPER ------*/
}
.block-main .block-wrapper {
  background-color: #f7f7f7;
  margin-left: 100px;
  margin-right: 100px;
  height: 100%;
  /*------ HEADER ------*/
}
.block-main .block-wrapper .block-header {
  position: relative;
  height: 208px;
  border-bottom: 1px solid #dedede;
}
.block-main .block-wrapper .block-header header {
  padding: 0 60px;
  /* Logo */
  /* Description-Contact */
  /* Search form */
  /* Language menu */
}
.block-main .block-wrapper .block-header header .header-logo {
  width: 100px;
  height: 148px;
  margin-bottom: 10px;
}
.block-main .block-wrapper .block-header header .header-logo img {
  width: 100%;
  height: 105px;
  margin-top: 33px;
}
.block-main .block-wrapper .block-header header .header-contact span {
  font-size: 16px;
  color: #7a7c7b;
}
.block-main .block-wrapper .block-header header .header-contact span:first-child {
  padding-left: 0px;
}
.block-main .block-wrapper .block-header header .header-contact span:first-child:before {
  padding-right: 0px;
}
.block-main .block-wrapper .block-header header .header-contact span:last-child:after {
  border-right: none;
}
.block-main .block-wrapper .block-header header .header-contact span:last-child:before {
  border-right: none;
}
.block-main .block-wrapper .block-header header .header-contact span:after {
  border-right: 1px solid #7a7c7b;
  content: "";
  padding-left: 10px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
}
.block-main .block-wrapper .block-header header .header-contact span:before {
  padding-right: 5px;
  content: "";
}
.block-main .block-wrapper .block-header header .header-search-form {
  height: 148px;
  margin-bottom: 10px;
  text-align: right;
}
.block-main .block-wrapper .block-header header .header-search-form button {
  margin-top: 84px;
}
.block-main .block-wrapper .block-header header .header-language nav {
  display: block;
}
.block-main .block-wrapper .block-header header .header-language nav ul li {
  display: inline-block;
  padding: 0 6px;
  color: #7a7c7b;
}
.block-main .block-wrapper .block-header header .header-language nav ul li a {
  font-size: 16px;
  cursor: pointer;
}
.block-main .block-wrapper .block-header header .header-language nav ul li a.active, .block-main .block-wrapper .block-header header .header-language nav ul li a:hover {
  color: #cd700b;
}

/*
============================================================================
Media queries
============================================================================
*/
/* Smartphone Design  ----------- */
/* Tablet Design  ----------- */
/* Desktop S  ----------- */
