/*
============================================================================
Name: App for Empire Hotel
Description: Main css
Version: 1.0
============================================================================
*/
/* reset style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* import config sass*/
/* ------------------------------------------------------------------------------ */
/* ------------------------------- DEFAULT CONFIG ------------------------------- */
/* ------------------------------------------------------------------------------ */
/* ------------------------------- DEFAULT CONFIG ------------------------------- */
/* ---------------------------------- FRAMEWORK --------------------------------- */
/*1710px*/
/* ------------------------------ FONTS / HEADLINE ------------------------------ */
/* ----------------------------- SPECIAL FONT COLORS ---------------------------- */
/* -------------------------------- OTHER COLORS -------------------------------- */
/* ------------------------------- APP NAVIGATION ------------------------------- */
/* ---------------------------- GLOBAL ROUNDED CORNERS --------------------------- */
/* --------------------------------- BASE BUTTON -------------------------------- */
/* ------------------------ TEXT INPUT, SELECT, TEXTAREA ------------------------ */
/* --------------------------------- SIDEBAR BOX -------------------------------- */
/* -------------------------------- DEVICE SIZES -------------------------------- */
/*large*/
/*small*/
/* -------------------------------- SMALL DEVICE -------------------------------- */
/*h1 font size*/
/*h2 font size*/
/*h3 font size*/
/* import fonts partial sass*/
@font-face {
  font-family: "Brandon_light";
  src: url('/fonts/Brandon_light.eot?1467438178');
  src: url('/fonts/Brandon_light.eot?&1467438178#iefix') format('embedded-opentype'), url('/fonts/Brandon_light.woff?1467438204') format('woff'), url('/fonts/Brandon_light.ttf?1467438192') format('truetype');
  font-weight: "Brandon_light.svg#Brandon_light";
  font-style: svg;
}
@font-face {
  font-family: "Brandon_reg";
  src: url('/fonts/Brandon_reg.eot?1467186378');
  src: url('/fonts/Brandon_reg.eot?&1467186378#iefix') format('embedded-opentype'), url('/fonts/Brandon_reg.woff?1467186378') format('woff'), url('/fonts/Brandon_reg.ttf?1467186378') format('truetype');
  font-weight: "Brandon_reg.svg#Brandon_reg";
  font-style: svg;
}
@font-face {
  font-family: "Brandon_med";
  src: url('/fonts/Brandon_med.eot?1467438478');
  src: url('/fonts/Brandon_med.eot?&1467438478#iefix') format('embedded-opentype'), url('/fonts/Brandon_med.woff?1467438504') format('woff'), url('/fonts/Brandon_med.ttf?1467438492') format('truetype');
  font-weight: "Brandon_med.svg#Brandon_med";
  font-style: svg;
}
@font-face {
  font-family: "Brandon_bld";
  src: url('/fonts/Brandon_bld.eot?1467186378');
  src: url('/fonts/Brandon_bld.eot?&1467186378#iefix') format('embedded-opentype'), url('/fonts/Brandon_bld.woff?1467186378') format('woff'), url('/fonts/Brandon_bld.ttf?1467186378') format('truetype');
  font-weight: "Brandon_bld.svg#Brandon_bld";
  font-style: svg;
}
/* image path */
/* ------------------------------------ CUSTOM ---------------------------------- */
* {
  outline: none !important;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: 16px Brandon_light, Arial;
  background-color: #fff;
}

.button {
  display: block;
  background-color: #cd700b;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 0 40px;
  height: 36px;
  cursor: pointer;
}

.left, .block-left, .col-left {
  float: left;
}

.right, .block-right, .col-left {
  float: right;
}

img {
  width: 100%;
}

h1 {
  font-family: Brandon_light, Arial;
  font-size: 48px;
  font-weight: normal;
  color: #402107;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
h1:before {
  border-bottom: 2px solid #cd700b;
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  width: 100%;
  bottom: 2px;
}

h2 {
  font-family: Brandon_light, Arial;
  font-size: 42px;
  font-weight: normal;
  color: #402107;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

h3 {
  font-family: Brandon_light, Arial;
  font-size: 36px;
  font-weight: normal;
  color: #cd700b;
  text-transform: none;
  display: inline-block;
  position: relative;
}

a {
  font-family: Brandon_light, Arial;
  color: #cd700b;
}

.p1 {
  font-size: 27px;
  color: #7a7c7b;
}

.p2 {
  font-size: 20px;
  color: #7a7c7b;
}

.p3 {
  font-size: 16px;
  color: #7a7c7b;
}

.clr {
  clear: both;
}

.column-2 {
  width: 50%;
}

.column-3 {
  width: 33.3333333%;
}

.column-4 {
  width: 25%;
}

.column-5 {
  width: 20%;
}

.icon-phone:before {
  background-image: url("../images/icons/icon-phone.png");
  background-repeat: no-repeat;
  content: "";
  width: 21px;
  height: 21px;
  display: block;
  background-position: center;
  text-align: center;
  margin-top: 15px;
}

/* Column counter */
/* one item */
section.col-counter article {
  column-count: 3;
}
section.col-2 article {
  width: 100%;
  /* 2 items */
  /* 3 items */
}
section.col-2 article div:nth-child(1):nth-last-child(1) {
  width: 100%;
  vertical-align: top;
}
section.col-2 article div:nth-child(1):nth-last-child(2),
section.col-2 article div:nth-child(2):nth-last-child(1) {
  width: 50%;
  display: table-cell;
  vertical-align: top;
}
section.col-2 article div:nth-child(1):nth-last-child(2) {
  padding-right: 30px;
}
section.col-2 article div:nth-child(2):nth-last-child(1) {
  padding-left: 30px;
}
section.col-2 article div:nth-child(1):nth-last-child(3),
section.col-2 article div:nth-child(2):nth-last-child(2),
section.col-2 article div:nth-child(3):nth-last-child(1) {
  width: 33.3333%;
  display: table-cell;
  vertical-align: top;
}
section.col-2 article div:nth-child(1):nth-last-child(3) {
  padding-right: 10px;
}
section.col-2 article div:nth-child(2):nth-last-child(2) {
  padding-left: 10px;
  padding-right: 10px;
}
section.col-2 article div:nth-child(3):nth-last-child(1) {
  padding-left: 10px;
}

/* ------------------------------------------------------------------------------ */
/* --------------------------------- FRAMEWORK ---------------------------------- */
/* ------------------------------------------------------------------------------ */
/* ---------------------------------- FRAMEWORK --------------------------------- */
/*------ MAIN FRAMEWORK ------*/
.main-framework {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: relative;
  /*------ WRAPPER ------*/
}
.main-framework .framework-wrapper {
  background-color: #f7f7f7;
  margin-left: 100px;
  margin-right: 100px;
  height: 100%;
  display: table;
  /*------ HEADER ------*/
  /* MAIN */
}
.main-framework .framework-wrapper .header-wrapper {
  position: relative;
  height: 208px;
  border-bottom: 1px solid #dedede;
}
.main-framework .framework-wrapper .header-wrapper header {
  padding: 0 60px;
  /* Logo */
  /* Description-Contact */
  /* Search form */
  /* Language menu */
}
.main-framework .framework-wrapper .header-wrapper header .header-logo {
  width: 100px;
  height: 148px;
  margin-bottom: 5px;
}
.main-framework .framework-wrapper .header-wrapper header .header-logo img {
  width: 100%;
  height: 105px;
  margin-top: 33px;
}
.main-framework .framework-wrapper .header-wrapper header .header-contact span {
  font-family: Brandon_reg;
  font-size: 16px;
  color: #7a7c7b;
}
.main-framework .framework-wrapper .header-wrapper header .header-contact span:first-child {
  padding-left: 0px;
}
.main-framework .framework-wrapper .header-wrapper header .header-contact span:first-child:before {
  padding-right: 0px;
}
.main-framework .framework-wrapper .header-wrapper header .header-contact span:last-child:after {
  border-right: none;
}
.main-framework .framework-wrapper .header-wrapper header .header-contact span:last-child:before {
  border-right: none;
}
.main-framework .framework-wrapper .header-wrapper header .header-contact span:after {
  border-right: 1px solid #7a7c7b;
  content: "";
  padding-left: 10px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
}
.main-framework .framework-wrapper .header-wrapper header .header-contact span:before {
  padding-right: 5px;
  content: "";
}
.main-framework .framework-wrapper .header-wrapper header .header-search-form {
  height: 148px;
  margin-bottom: 10px;
  text-align: right;
}
.main-framework .framework-wrapper .header-wrapper header .header-search-form button {
  margin-top: 84px;
}
.main-framework .framework-wrapper .header-wrapper header .header-language nav {
  display: block;
  font-family: Brandon_reg;
  font-size: 16px;
}
.main-framework .framework-wrapper .header-wrapper header .header-language nav ul li {
  display: inline-block;
  padding: 0 6px;
  color: #7a7c7b;
}
.main-framework .framework-wrapper .header-wrapper header .header-language nav ul li a {
  cursor: pointer;
}
.main-framework .framework-wrapper .header-wrapper header .header-language nav ul li a.active, .main-framework .framework-wrapper .header-wrapper header .header-language nav ul li a:hover {
  color: #cd700b;
}
.main-framework .framework-wrapper .main-wrapper {
  padding: 60px;
  float: left;
  width: 100%;
  margin: 0px;
  /* SIDEBAR */
}
.main-framework .framework-wrapper .main-wrapper .sidebarbox-wrapper {
  width: 315px;
  float: left;
  margin-right: 30px;
}
.main-framework .framework-wrapper .main-wrapper .sidebarbox-wrapper aside {
  display: block;
  margin-top: -16px;
}
.main-framework .framework-wrapper .main-wrapper .sidebarbox-wrapper aside ul li {
  display: block;
}
.main-framework .framework-wrapper .main-wrapper .sidebarbox-wrapper aside ul li a {
  font-family: Brandon_reg;
  font-size: 20px;
  color: #7a7c7b;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  line-height: 50px;
  position: relative;
}
.main-framework .framework-wrapper .main-wrapper .sidebarbox-wrapper aside ul li a.active, .main-framework .framework-wrapper .main-wrapper .sidebarbox-wrapper aside ul li a:hover {
  color: #cd700b;
  /*text-decoration: $sidebar-box-text-decoration;*/
  /* smooth decoration */
}
.main-framework .framework-wrapper .main-wrapper .sidebarbox-wrapper aside ul li a.active:before, .main-framework .framework-wrapper .main-wrapper .sidebarbox-wrapper aside ul li a:hover:before {
  border-bottom: 1px solid #cd700b;
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  width: 100%;
  bottom: 2px;
}
.main-framework .framework-wrapper .main-wrapper .main-content-wrapper {
  float: right;
  width: calc(100% - 315px - 30px);
  padding: 0px;
  margin: 0px;
  /* HOME PAGE */
}
.main-framework .framework-wrapper .main-wrapper .main-content-wrapper .loby-image img {
  width: 100%;
}
.main-framework .framework-wrapper .main-wrapper .main-content-wrapper .scroll-down {
  text-align: center;
  height: 180px;
  padding-top: 50px;
}
.main-framework .framework-wrapper .main-wrapper .main-content-wrapper .scroll-down span {
  display: block;
  text-transform: uppercase;
  color: #cd700b;
  font-size: 20px;
}
.main-framework .framework-wrapper .main-wrapper .main-content-wrapper .scroll-down span:after {
  background-image: url("../images/icons/icon-arrow-down.png");
  background-repeat: no-repeat;
  content: "";
  width: 100%;
  height: 38px;
  display: block;
  background-position: center;
  text-align: center;
  margin-top: 15px;
}
.main-framework .framework-wrapper .main-wrapper .main-content-wrapper .inner-wrapper {
  width: 100%;
  position: relative;
}
.main-framework .framework-wrapper .main-wrapper .main-content-wrapper .inner-wrapper .inner-section {
  padding: 0 30px;
}
.main-framework .framework-wrapper .main-wrapper .main-content-wrapper .inner-wrapper .inner-section section {
  margin-bottom: 180px;
                            /*.col-2 { column-count: 2; }

                            article { column-count: 3;
                                div { display: inline-block; width: 100%; }
                            }*/
}
.main-framework .framework-wrapper .main-wrapper .main-content-wrapper .inner-wrapper .inner-section section h1 {
  margin-bottom: 30px;
}
.main-framework .framework-wrapper .main-wrapper .main-content-wrapper .inner-wrapper .inner-section section h2 span {
  font-family: Brandon_med;
  color: #cd700b;
}
.main-framework .framework-wrapper .main-wrapper .main-content-wrapper .inner-wrapper .inner-section section h3 {
  margin-bottom: 25px;
}

/*
============================================================================
Media queries
============================================================================
*/
/* Smartphone Design  ----------- */
/* Tablet Design  ----------- */
/* Desktop S  ----------- */
